.widget {
    padding:20px;
    font-weight: 500;
    position: fixed;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    background:rgba(255,255,255,0.2);

    .chat{
        overflow:   hidden;
        position:   absolute;
        bottom:     0;
        max-height: 100%;
        width: 100%;
    }

    .user-message{
        line-height:20px;
        font-size: 20px;
        margin-top:10px;
        padding-bottom:10px;
        border-bottom:1px solid white;

        img{
            
            height: 20px;
            vertical-align: top;
            width: auto;
        }

        span, div{
            font-weight: 600;
            font-family: 'Roboto', sans-serif;     
        }
    }
}

