.widget {
    font-weight: 500;
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 10px;
    top: 10px;
    
    background:rgba(255,255,255,0.2);

    .chat{
        overflow:   hidden;
        position:   absolute;
        bottom:     0;
        max-height: 100%;
        width: 100%;
    }

    .user-message{
        line-height:20px;
        font-size: 20px;
        margin-top:10px;
        padding-bottom:10px;
        border-bottom:1px solid white;
        padding: 10px;

        &:nth-child(even) {
            background: #f3e7e3;
        }

        img{
            
            height: 20px;
            vertical-align: top;
            width: auto;
        }

        span, div{
            font-weight: 600;
            word-break: break-word;
            font-family: 'Roboto', sans-serif;
            line-height: 25px;
        }
    }
}

